<% provide(:title, 'About') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">
 			<div class="panel panel-transparent">
      	<div class="panel-body">
					<h1>About</h1>
					<p>
						Kieran Czerwinski is a programmer, designer, and photographer. Currently studying Computer Science at the University of Colorado at Boulder. This website is intended to showcase some of his works.
					</p>
				</div>
			</div>
		</div>
	</div>