<body>

      <!-- ********** SLIDES ********** -->
      <section id="slides">
         <ul class="slides-container">
            <li>
               <img src="assets/theme/kieran1.jpg" alt="">
            </li>
            <li>
               <img src="assets/theme/prog.png" alt="">
            </li>
            <li>
               <img src="assets/theme/design.jpg" alt="">
            </li>
         </ul>
         <div id="bannertext">
            <h1>Kieran Czerwinski</h1>
            <hr class="aligncenter">
            <h3>Web Developer - Designer - Amateur Photographer</h3>
            <p><button class="btn btn-lg btn-white btn-design">Learn More</button> <a href="mailto:kierwinski@gmail.com" class="btn btn-lg btn-clear btn-design">Contact</a>
         </div>
         <!-- end:Banner text -->
         <nav class="slides-navigation">
            <a href="index.html#" class="next">
            <i class="ion-ios7-arrow-forward"></i>
            </a>
            <a href="index.html#" class="prev">
            <i class="ion-ios7-arrow-back"></i>
            </a>
         </nav>
      </section>
      <!-- END SLIDES SECTION -->
 
	<!-- ********** SERVICES SECTION ********** -->
	<div class="container">
		<div class="row mtb centered">
			<div class="col-md-6 col-md-offset-3 w">
				<h1>Hello World!</h1>
				<hr class="aligncenter">
				<h2>I created this website as a showcase and conduit for my passions. I love building things, both designing physical products and creating useful websites with clean and intuitive interfaces. Check out some of my work in the navbar above!
			</div>
		</div><!--/row -->
		
	</div><!--/container --> 

    <script>
    //Superslides 
		$('#slides').superslides({
		    slide_easing: 'easeInOutCubic',
		    slide_speed: 800,
		    pagination: true,
		    hashchange: false,
		    scrollable: true,
		    animation: 'fade'
		});
		
		// Add swipe option
		
		$('#slides').hammer().on('swipeleft', function () {
		    $(this).superslides('animate', 'next');
		});
		
		$('#slides').hammer().on('swiperight', function () {
		    $(this).superslides('animate', 'prev');
		});
    </script>
    
    <script>
    // Banner text add parallax efect and fade
	function EasyPeasyParallax() {
	    scrollPos = $(this).scrollTop();
	    $('#slider').css({
	        'background-position': '50% ' + (-scrollPos / 4) + "px"
	    });
	    $('#bannertext').css({
	        'margin-top': (scrollPos / 4) + "px",
	        'opacity': 1 - (scrollPos / 250)
	    });
	}
	$(document).ready(function () {
	    $(window).scroll(function () {
	        EasyPeasyParallax();
	    });
	});
    </script>
    
    
  </body>