<% provide(:title, 'Photography') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">


					<!-- 2. Add images to <div class="fotorama"></div>. -->
					<div class="fotorama" data-keyboard="true" data-allowfullscreen="true" data-nav="thumbs">
					  <img src="http://i.imgur.com/VM4ffxb.jpg">
					  <img src="http://i.imgur.com/KL1Icfc.jpg">
					  <img src="http://i.imgur.com/CO5ivE7.jpg">
					  <img src="http://i.imgur.com/zCH5Axf.jpg">
					  <img src="http://i.imgur.com/6Y69B0i.jpg">
					  <img src="http://i.imgur.com/ZY2R8dG.jpg">
					  <img src="http://i.imgur.com/wgOj4at.jpg">
					  <img src="http://i.imgur.com/ZQggoid.jpg">
					  <img src="http://i.imgur.com/SJunSZR.jpg">
					  <img src="http://i.imgur.com/5U8XqsT.jpg">
					  <img src="http://i.imgur.com/Vcs8xTi.jpg">
					  <img src="http://i.imgur.com/aBZVUou.jpg">
					  <img src="http://i.imgur.com/PakFZlk.jpg">
					  <img src="http://i.imgur.com/M2QERSD.jpg">
					  <img src="http://i.imgur.com/etQzn65.jpg">
					  <img src="http://i.imgur.com/NzUIYc1.jpg">
					  <img src="http://i.imgur.com/p9iBLAh.jpg">
					  <img src="http://i.imgur.com/JNYMOD1.jpg">
					  <img src="http://i.imgur.com/YCRP3ze.jpg">
					  <img src="http://i.imgur.com/TQWDLH2.jpg">
					  <img src="http://i.imgur.com/zZlSJx5.jpg">
					  <img src="http://i.imgur.com/djqODY4.jpg">
					  <img src="http://i.imgur.com/hsaYqcn.jpg">
					  <img src="http://i.imgur.com/Vv9Vo8q.jpg">
					  <img src="http://i.imgur.com/oHuBooi.jpg">
					  <img src="http://i.imgur.com/k0KQR3y.jpg">
					  <img src="http://i.imgur.com/1f8Y9SH.jpg">
					  <img src="http://i.imgur.com/L8LJQsm.jpg">
					  <img src="http://i.imgur.com/zbdUyds.jpg">
					  <img src="http://i.imgur.com/FQkzCS4.jpg">
					  <img src="http://i.imgur.com/p51FhCP.jpg">
					  <img src="http://i.imgur.com/71irSTV.jpg">
					  <img src="http://i.imgur.com/ewkzY3B.jpg">
					  <img src="http://i.imgur.com/iPUtzC7.jpg">
					  <img src="http://i.imgur.com/DDPMqdx.jpg">
					  <img src="http://i.imgur.com/0WpnNHX.jpg">
					  <img src="http://i.imgur.com/VZU5nu8.jpg">
					  
					</div>

					<!-- 3. Enjoy! -->

		</div>
	</div>