<% provide(:title, 'Photography') %>
	<div class="row">
 		<div class="col-xs-12 col-md-8 col-md-offset-2">
 			<div class="panel panel-default">
      	<div class="panel-body">
					<h1>Photography</h1>
					<p>
						Someday soon this will be the home of various photos taken by Kieran, when he finally gets off his ass.
					</p>
				</div>
			</div>
		</div>
	</div>