<% provide(:title, 'Projects') %>
			<h1>Page under construction...</h1>

	<div class="container">
		<div class="row mtb2 centered">
			<div class="col-md-4 w" >
          <img src="assets/theme/design.jpg" alt="">
				<h5>Cybaura Epok</h5>
				<hr class="aligncenter">
				<p>A beautiful smartphone sleeve designed for one-handed ease of use. Expandable construction allows you to carry it all, while high quality Toray Microfiber wipes the screen clean as it's used.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 w">
				<div class="circle-icon">
					<h3>Images coming soon</h3>
				</div>
				<h5>Blokkspace</h5>
				<hr class="aligncenter">
				<p>Blokkspace is a free tool that allows you to build a narrative or collection from rearrangeable Blokks that can contain any HTML content. Invite friends to collaborate in the creation of the Space and share your Space with the world, or keep it between you and friends.</p>
			</div><!--/col-md-4-->
			<div class="col-md-4 w">
				<div class="circle-icon">
					<h3>Images coming soon</h3>
				</div>
				<h5>CUResource</h5>
				<hr class="aligncenter">
				<p>CUresource is a free, student-run resource map for CU-Boulder students to easily and convieniently find course and department info, contacts, and helpful content. You can save your current classes and department as well as your favorite posts with helpful material.</p>
			</div><!--/col-md-4-->
		</div><!--/row -->
	</div><!-- /.container -->
