<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="panel panel-transparent">
    	<div class="panel-body">
				<h1>Editing post</h1>

				<%= render 'form' %>

				<%= link_to 'Show', @post %> |
				<%= link_to 'Back', posts_path %>
			</div>
		</div>
	</div>
</div>
