<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h1>Blog Posts</h1><hr>

              <div class="list-group">
                <% @posts.each do |post| %>
                  <%= link_to(post, class: "list-group-item") do %>
                    <h4 class="list-group-item-heading">
                      <%= post.title %>        
                    </h4>
                    <p class="list-group-item-text"><%= post.description %>
                    </p>
                  <% end %>
                <% end %>
              </div>
        <hr>

        <%= link_to 'New Post', new_post_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
  </div>
</div>