  <div id="f">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 centered">
          <h6>COPYRIGHT 2014 | CYBAURA</h6>
        </div>
      </div>
    </div>
  </div><!--/copyright -->
